
.container-degraded-bar{
    background: #741d51; /* Old browsers */
    background: -moz-linear-gradient(left, $orange 0%, $black 50%, $violet 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, $orange 0%, $black 50%, $violet 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, $orange 0%, $black 50%, $violet 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin: 0px;
}

.row-degraded-bar{
    display: flex;
}

.item-degraded-bar{
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.8rem;
    display: flex;
    width: 33.33%;
}



.icon{
    font-size: 3.5rem;
}

@media (max-width:768px){

    .row-degraded-bar{
        display: flex;
        flex-direction: column;
    }

    .container-degraded-bar{
        background: rgb(253,123,1);
        background: linear-gradient(0deg, rgba(253,123,1,1) 0%, rgba(41,31,30,1) 47%, rgba(127,8,149,1) 92%);
    }    


    .item-degraded-bar{
        width: 100%;
    }
}



