
.container-footer{
    background-color: $black;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.container-footer p{
    margin: 0;
    font-size: 2rem;
    width: 25%;    
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

@media (max-width:768px){
    .container-footer{
        background-color: $black;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 1rem;
    }
    
    .container-footer p{
        margin: 1rem 1rem;
        font-size: 2rem;
        width: 100%;
        font-family: 'Yanone Kaffeesatz', sans-serif;

    }
}