


.micro-container{
    background-color: chartreuse;
}

.micro-container-title{
    height: 40rem;
    background-color: $orange;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 10rem;
}



.micro-container-title h1{
    margin: 0;                // all the h1 has a margin top, that affects the parent div
    font-size: 5rem;
    color: $white;
}

.container-micro-introduction{
    padding: 5rem 0rem;
}

.micro-introduction{
    width: 90%;
    margin: 0 auto;
    background-color: $white;
    -webkit-box-shadow: 4px 2px 5px 0px rgba(50, 50, 50, 0.74);
    -moz-box-shadow:    4px 2px 5px 0px rgba(50, 50, 50, 0.74);
    box-shadow:         4px 2px 5px 0px rgba(50, 50, 50, 0.74);
    padding: 5rem;
    border-radius: 20px;
}

.micro-introduction h2{
    font-size: 4rem;
    color: $orange;
}

.micro-introduction h3{
    font-size: 4rem;
    color: $orange;
    text-align: center;
}

.micro-introduction p{
    font-size: 2rem;
    text-align: justify;
    text-align: center;
    font-weight: 600;
    color: darken($color: green, $amount: 5);
}

.centered-image{
    display: flex;
    justify-content: center;
}

.micro-container-images{
    //background-image: url(../../static_fields/img/q1.jpg);
    margin-top: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 50rem;
    position: relative;
}

.micro-container-images .left-button{
    position: absolute;
    top: 50%;
    width: 6rem;
    height: 6rem;
    background-color: transparent;
    transition: opacity 0.5s ease;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        opacity: 1;
    }
}

.micro-container-images .right-button{
    position: absolute;
    top: 50%;
    right: 0;
    width: 6rem;
    height: 6rem;
    background-color: transparent;
    transition: opacity 0.5s ease;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        opacity: 1;
    }
}

.micro-introduction h3{
    font-size: 3rem;
    margin: 0; 
}

.micro-container-images i{
    font-size: 6rem;
    transition: font-size 0.3s ease;

    &:hover{
        font-size: 6.7rem;
    }

}


.p-micro-description{
    font-size: 2rem;
}

.container-return-button{
    display: flex; 
    justify-content: flex-end;
}

.container-return-button button{
    width: 15rem;
    height: 4rem;
    font-size: 2rem;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5%;

    &:hover {
        background-color: darken($color: green, $amount: 10);
    }

    &:focus {
        background-color: darken($color: turquoise, $amount: 20);
        outline: none;
    }
}


.proof1 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.proof2 {
    width: 100px;
    height: 100px;
    background-color: green;
}

.micro-introduction h4{
    font-size: 2rem;
    line-height: 3rem;
}

@media (max-width:768px){
    .micro-container-title h1{
        margin: 0;                // all the h1 has a margin top, that affects the parent div
        font-size: 3rem;
        color: $white;
    }

    .micro-container-images{
        //background-image: url(../../static_fields/img/q1.jpg);
        margin-top: 2rem;
        background-size: cover;
        background-repeat: no-repeat;
        width: 90%;
        height: 32rem;
        position: relative;
    }
}