

.nav-bar-container{
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: red;
}

.div-logo{
    background-image: url('https://www.gob.mx/cms/uploads/image/file/460872/Mo_o.jpg');
    width: 100px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}
